nav.headroom--unpinned {
  transform: translateY(-5rem);
}

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(0rem);

  pointer-events: none;
  transition: transform .2s ease-in-out
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 1rem 1.5rem;
  transition: background-color .2s ease-in-out;
  pointer-events: auto;
}

.nav__logo {
  -webkit-animation: moveInLeft 1s ease-in-out;
          animation: moveInLeft 1s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.nav__logo:hover {
  opacity: .5;
}

.nav__bar img {
  max-width: 100%;
  max-height: 3rem;
}

.nav__hamburger {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: border-color .2s ease-in-out;
  border-radius: var(--border-small);
  border: 2px solid transparent;
  background: none;
}

.nav__hamburger:hover {
  border: 2px solid var(--magenta-transparant);
}

.nav__hamburger #icon__close {
  opacity: 0;
}

.nav__hamburger svg {
  width: 2rem;
  height: 2rem;
  position: absolute;

  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}

.nav__hamburger svg path {
  stroke: var(--donker-grijs);
  transition: stroke .2s ease-in-out;
}

nav.active .nav__bar {
  background-color: var(--geel);
  background-color: var(--geel-licht);
}

nav.active svg {
  transform: rotateZ(180deg);
}

nav.active svg path {
  stroke: var(--magenta);
}

nav.active #icon__close {
  opacity: 1;
}

nav.active #icon__hamburger {
  opacity: 0;
}

nav.active .nav__links {
  opacity: 1;
  pointer-events: auto;
}

.nav__links {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
  background-color: var(--geel);
  background: linear-gradient(180deg, var(--geel-licht), var(--geel));

  transition: opacity .2s ease-in-out;

  opacity: 0;
}

.nav__links a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
  color: var(--donker-grijs);
  font-size: 2rem;

  transition: color .2s ease-in-out;
}

.nav__links a:hover {
  color: var(--magenta);
}

.nav__links li {
  transition: transform .4s ease-out;
  transform: translateY(2rem);
}

.nav__links li:nth-child(1) { transition-delay: .00s; }
.nav__links li:nth-child(2) { transition-delay: .05s; }
.nav__links li:nth-child(3) { transition-delay: .10s; }
.nav__links li:nth-child(4) { transition-delay: .15s; }
/* .nav__links li:nth-child(5) { transition-delay: .20s; } */

nav.active .nav__links li {
  transform: translateX(0);
}

/* Phones */
@media (min-width: 640px) {

}

/* Tablets */
@media (min-width: 768px) {
  .nav__links {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav__links li {
    flex: 0 50%;
    width: 100%;
    height: 50%;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__links li:hover {
    
  }

  .nav__links li:hover .nav__thumbnail {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }

  .nav__links a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1rem;
  }

  .nav__links .nav__thumbnail {
    display: initial;
    opacity: 0.05;
    width: 80%;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    height: 200px;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: var(--border-small);
    transition: opacity .2s ease-in-out, -webkit-filter .2s ease-in-out;
    transition: opacity .2s ease-in-out, filter .2s ease-in-out;
    transition: opacity .2s ease-in-out, filter .2s ease-in-out, -webkit-filter .2s ease-in-out;
  }

  #th-home {
    background: url('https://images.unsplash.com/photo-1514306191717-452ec28c7814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
    background-size: cover;
    background-position: center;
  }

  #th-over-ons {
    background: url('https://images.unsplash.com/photo-1574267432553-4b4628081c31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
    background-size: cover;
    background-position: center;
  }

  #th-max {
    background: url('https://images.unsplash.com/photo-1513106580091-1d82408b8cd6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1655&q=80');
    background-size: cover;
    background-position: center;
  }

  #th-contact {
    background: url('https://images.unsplash.com/photo-1518885137200-434f43a6d583?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center;
  }
}

/* Laptops */
@media (min-width: 1024px) {

}

/* Desktop */
@media (min-width: 1280px) {

}
